# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/
env/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos subidos
uploaded_files/

# Archivos de logs
*.log

# Archivos comprimidos
*.zip
